.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 12px 14px;
   background-color: #fff;
   border-bottom: 1px solid #e8e8e8;
}

.titleContainer {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.title {
   font-size: 28px;
}

.date {
   font-size: 16px;
}

.wave {
   color: #6f99cd;
}

.news {
   color: #51a6d0;
}

.react {
   color: #61dafb;
}

.credit {
   font-size: 12px;
   color: #666;
   text-align: right;
}

.link {
   color: #6f99cd;
   text-decoration: none;
}

.link:hover {
   text-decoration: underline;
}

@media (max-width: 425px) {
   .header {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: start;
   }

   .credit {
      padding: 20px 0;
   }

   .title {
      font-size: 32px;
   }
}